#sortable{
	position: absolute;
	width: 1091px;
	clear: both;
	height: 200px;
	margin-top: 120px;
	margin-left: 5%;
}

.unsortable{
	border: 2px solid blue;
}

.ui-state-default{
	width: 200px;
	height: 100px;
	margin-left: 10px;
	float: left;
}

img{
	width: 200px;
}

li{
	list-style: none;
}